
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3, h4 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

p {
    color: #000000;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease;
}

a:hover {
    color: #2980b9;
}

/* Header */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #fff8f8;
}


header {
    width: 100%;
    height: 800px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(197, 38%, 28%, 0.57), hsla(194, 35%, 19%, 0.816), hsla(198, 43%, 11%, 0.74)),url(nature-678374.jpg);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(197, 38%, 28%, 0.57), hsla(194, 35%, 19%, 0.816), hsla(198, 43%, 11%, 0.74)),url(nature-678374.jpg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover;

}

.textos-header h1 {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

.textos-header h2 {
    position: relative;
    text-align: center;
    padding: auto;
    font-size: 1.5rem;
    font-weight: 400;
    color:#ffffff
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(197, 38%, 28%, 0.57), hsla(194, 35%, 19%, 0.816), hsla(198, 43%, 11%, 0.74)),;
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(197, 38%, 28%, 0.57), hsla(194, 35%, 19%, 0.816), hsla(198, 43%, 11%, 0.74));
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size:cover;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    transition: 0.3s;
}

nav a:hover {
    background: rgba(4, 103, 157, 0.971);
    color: #052638;
    border-radius: 5px;
}
nav a:active{
    background:#052638;
    color: rgb(2, 94, 143);
}


main {
    padding: 80px 20px 20px; 
}


section {
    padding: 60px 20px;
}




/*tabla*/
.container {
    max-width: 900px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
    border-radius: 8px;
}
h2 {
    color: #000000;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom:80px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2 {
    color: #004d66;
}
.table-container {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #004d66;
    margin-top: 20px;
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #004d66;
}
th, td {
    padding: 12px;
    text-align: left;
    color: #0F2027;
}
th {
    background-color: #008080;
    color: rgb(255, 255, 255);
}
tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #0F2027;
}
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    border: 1px solid #b3d9ff;
    border-radius: 5px;
    font-size: 16px;
}
/* Footer */
footer {
    background: #2c3e50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.contenedo-footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor-foo h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color:#f4f4f9
}

.contenedor-foo p {
    font-size: 1rem;
    color: #bdc3c7;
}